# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

on boot
# SSWAP
    write /proc/sys/vm/swappiness 130

# POC
    chown system system /sys/class/lcd/panel/poc
    chmod 0660 /sys/class/lcd/panel/poc

    chown system system /dev/poc
    chmod 0660 /dev/poc

# IMS Stack
service imsd /system/bin/imsd
    class main
    socket imsd stream 0660 system system
    user root
    group system radio net_raw inet net_admin readproc

# Fingerprint
    mkdir /dev/validity 0770 system system

# SENSOR FRAMEWORK : starts fingerprintService for CPID nonTZ
service vcsFPService /system/bin/vcsFPService
    class late_start
    user system
    group system

# FINGERPRINT FRAMEWORK : starts fingerprintd
service fingerprintd /system/bin/fingerprintd
    class late_start
    user system
    group system

# faced
service faced /system/bin/faced
    class late_start
    user system
    group system

on fs
# Carrier Partition
	mkdir /carrier 0771 system system
	wait /dev/block/bootdevice/by-name/carrier
	mount ext4 /dev/block/bootdevice/by-name/carrier /carrier nosuid nodev noatime noauto_da_alloc,discard,journal_checksum,data=ordered,errors=panic

	chown system system /carrier
	chmod 0771 /carrier

# OMC Partition
    mkdir /omr 0771 system system
    wait /dev/block/bootdevice/by-name/omr
    mount ext4 /dev/block/bootdevice/by-name/omr /omr nosuid nodev noatime noauto_da_alloc,discard,journal_checksum,data=ordered,errors=panic

    chown system system /omr
    chmod 0771 /omr

# DQMDBG Partition
    chown system system /dqmdbg
    chmod 0770 /dqmdbg
    mkdir /dqmdbg/backup 0770 system system
    restorecon -R /dqmdbg

# irisd
service irisd /system/bin/irisd
    class late_start
    user system
    group system

on post-fs

# Create carrier folder for HiddenMenu
    mkdir /efs/carrier 0755 system system

# DP AUX switch control
    chmod 0660 /sys/class/dp_sec/dp_sbu_sw_sel
    chown system system /sys/class/dp_sec/dp_sbu_sw_sel

# DP DEX control
    chown system system /sys/class/dp_sec/dex

# DP error info
    chown system system /sys/class/dp_sec/dp_error_info

# Permissions for Charging
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/store_mode

on post-fs-data	
# Access permission for audio calibration
    chown system audio /sys/class/dsm/maxdsm_cal/max
    chown system audio /sys/class/dsm/maxdsm_cal/min
    chown system audio /sys/class/dsm/maxdsm_cal/status
    chown system audio /sys/class/dsm/maxdsm_cal/duration
    chown system audio /sys/class/dsm/maxdsm_cal/temp
    chown system audio /sys/class/dsm/maxdsm_cal/rdc
    chown system audio /sys/class/dsm/maxdsm_cal/v_status
    chown system audio /sys/class/dsm/maxdsm_cal/v_duration
    chown system audio /sys/class/dsm/maxdsm_cal/v_validation
    mkdir /efs/maxim 0770 system audio
    chown system audio /efs/maxim/temp_cal
    chown system audio /efs/maxim/rdc_cal
    chmod 0660 /efs/maxim/temp_cal
    chmod 0660 /efs/maxim/rdc_cal

# FM Radio
    chown system audio /dev/radio0
    chmod 0660 /dev/radio0

# Iris
    mkdir /data/bio 0770 system system
    mkdir /data/bio/ir 0770 system system

# sem_daemon
service sem_daemon /system/bin/sem_daemon
    class core
    user system
    group system nfc
    disabled

on property:sys.boot_completed=1
    setprop security.semdaemonfinish 0
    start sem_daemon

# Access permission for audio calibration
    chown system audio /sys/class/dsm/max98506/dsm_log
    chown system audio /sys/class/dsm/max98506/spk_excu_max
    chmod 0440 /sys/class/dsm/max98506/spk_excu_max
    chown system audio /sys/class/dsm/max98506/spk_excu_maxtime
    chmod 0440 /sys/class/dsm/max98506/spk_excu_maxtime
    chown system audio /sys/class/dsm/max98506/spk_excu_overcnt
    chmod 0440 /sys/class/dsm/max98506/spk_excu_overcnt
    chown system audio /sys/class/dsm/max98506/spk_temp_max
    chmod 0440 /sys/class/dsm/max98506/spk_temp_max
    chown system audio /sys/class/dsm/max98506/spk_temp_maxtime
    chmod 0440 /sys/class/dsm/max98506/spk_temp_maxtime
    chown system audio /sys/class/dsm/max98506/spk_temp_overcnt
    chmod 0440 /sys/class/dsm/max98506/spk_temp_overcnt
    chown system audio /sys/class/dsm/max98506/spk_amp_reg_wrong_cnt
    chmod 0440 /sys/class/dsm/max98506/spk_amp_reg_wrong_cnt
    chown system audio /sys/class/dsm/max98506/spk_amp_reg_diff_dump
    chmod 0440 /sys/class/dsm/max98506/spk_amp_reg_diff_dump

on property:security.semdaemonfinish=1
    stop sem_daemon

# vzw cooldown mode for lpm animation
on charger
    mkdir /carrier 0744 system system
    wait /dev/block/bootdevice/by-name/carrier
    mount ext4 /dev/block/bootdevice/by-name/carrier /carrier nosuid nodev noatime noauto_da_alloc,discard,journal_checksum,data=ordered,errors=panic
    chown system system /carrier
    chmod 0744 /carrier

# SIMLock Daemon
on property:ro.csc.rsuenabled=true
    start tsdaemon
    service tsdaemon /system/bin/tsdaemon
    class core
    user system
    group system
    oneshot
    disabled

# ApexServer
service apexserver /system/bin/apexserver
	class main
	user system
	group system graphics drmrpc media media_rw m2mscaler
	disabled

# SSWAP
service swapon /sbin/sswap -s -f 2560
    class core
    user root
    group root
    seclabel u:r:sswap:s0
    oneshot
